<div class="container">
    <div class="hero">
        <h2>We're all ears. Tell us about yourself.</h2>
        <h3>You're from</h3>
        <div class="options">
            <div class="option">
                <img src="assets/img/lion.jpg" alt="lion">
                <h4>Start-ups and Hyper-growers</h4>
                <p>$20 - $100 M</p>
            </div>
            <div class="option">
                <img src="assets/img/lion1.jpg" alt="lion">
                <h4>Mid-tier Movers</h4>
                <p>$100 M - $1 B</p>
            </div>
            <div class="option">
                <img src="assets/img/lion2.jpg" alt="lion">
                <h4>The Bellwethers</h4>
                <p>$1 B and above</p>
            </div>
        </div>
    </div>
</div>

 