
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}











.hero {
    text-align: center;
}

.hero h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero h3 {
    font-size: 2em;
    margin-bottom: 40px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.option {
    text-align: center;
    width: 30%;
    margin-bottom: 40px;
}

.option img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 50px;
}

.option h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

