<div class="section1">
    <div class="section-rotate-image">
        <h1>UNWILLING THE CRUCIAL ROLE OF</h1>
        <div id="target" class="font-size-greater">
            <span>SALES ENABLEMENT</span>
        </div>

    </div>

    <div class="section1-content">
        <div>
            <span>To thrive in today's competitive landscape, whether you're a large enterprise or a small startup,
                brand transformation is essential. You need a partner who truly understands your brand and can simplify
                its complexities, guiding you through every step of your journey</span>
        </div>
        <div>
            <h1> Experts in the B2B Tech Arena</h1>
        </div>
        <div>
            <span>
                A global Brand Transformation and Digital Tech company that bridges the gap between business objectives
                and outcomes
            </span>
        </div>
    </div>

</div>
