.section1{
    background-color: whitesmoke;
    
}

section-rotate-image{
    h1{
        color: #575757;
        font-size: 35px;
        font-weight: 400;
        margin-bottom: 10px;
    }
}

#target{
    z-index: 5;
    position: relative;
    top: 6rem;
    margin-top: -10rem;
    margin-bottom: 10px;
    min-height: 20rem;
}

.font-size-greater {
    font-size: 7rem;
    letter-spacing: .5px;
    color: #232ae5;
}

.section1-content{
    height: 50%;
    background-color: antiquewhite;
    width: 40%;
    position: relative;
    left: 900px;
    padding: 20px;
    
}