header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    

    nav ul {
        display: flex;
        list-style: none;
        gap: 20px;
    }

    nav ul li {
        margin-left: 50px;
        font-size: x-large;
        color: white;
    }   text-decoration: none;
}


.logo{
    height: 40px;
    width: 50px;
    border-radius: 15px;
}