<header>
    <div class="logo">
        <img class="logo" src="assets/img/logo.jpeg" alt="Deal Crafters Logo">
       
    </div>
    <nav>
        <ul>
            <li class="navBar"><a  href="#">We</a></li>
            <li class="navBar"><a  href="#">Think</a></li>
            <li class="navBar"><a  href="#">About</a></li>
            <li class="navBar"><a  href="#">You</a></li>
        </ul>
        <!-- <ul class="dropdown-menu" >
            <li class="navBar"><a class="dropdown-item" href="#">We</a></li>
            <li class="navBar"><a class="dropdown-item" href="#">Think</a></li>
            <li class="navBar"><a class="dropdown-item" href="#">About</a></li>
            <li class="navBar"><a class="dropdown-item" href="#">You</a></li>
        </ul> -->
    </nav>
</header>