<header>
    <div class="logo">
        <img src="logo.svg" alt="The Higher Pitch Logo">
        <h1>THE HIGHER PITCH</h1>
    </div>
    <nav>
        <ul>
            <li><a href="#">We</a></li>
            <li><a href="#">Think</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">You</a></li>
        </ul>
        <button>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
    </nav>
</header>