<footer class="bg-dark text-white text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Deal Crafters</h5>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam minus eos iste id velit temporibus! Eum quia provident, porro soluta facilis, perferendis sunt est, nostrum distinctio similique odit atque repellendus!
                </p>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="#!" class="text-white">Home</a></li>
                    <li><a href="#!" class="text-white">About Us</a></li>
                    <li><a href="#!" class="text-white">Services</a></li>
                    <li><a href="#!" class="text-white">Contact</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contact</h5>
                <ul class="list-unstyled">
                    <!-- <li><a href="mailto:info@dealcrafters.com" class="text-white">info@dealcrafters.com</a></li> -->
                    <li><a href="tel:+1234567890" class="text-white">+91 9015824892</a></li>
                    <li><a href="#!" class="text-white">Gaur City Center, Greater Noida West, 201309, U.P, India</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Copyright:
        <a class="text-white" href="https://dealcrafters.com/">dealcrafters.in</a>
    </div>
</footer>