.center {
    .section {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        text-align: center;

        .section-text {
            h1 {
                font-family: 'Source Code Pro', monospace;
                text-transform: uppercase;
                font-size: 5rem;
                font-weight: bold;
                position: relative;
                right: 140px;
            }

            h2 {
                font-size: 6rem;
                font-weight: bold;
                position: relative;
                left: 80px;
                bottom: 30px;
            }
        }
    }
}