.center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(75, 75, 250, 0.3);
    border-radius: 3px;
    h1 {
        text-align: center;
        color: white;
        font-family: 'Source Code Pro', monospace;
        text-transform: uppercase;
    }
}





.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.hero-text {
    text-align: center;
    color: white;
}

.hero-text h1 {
    font-size: 5rem;
    font-weight: bold;
}

.hero-text h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 10px;
}







/* Animation */

.hero {
    // background-image: url('https://images.unsplash.com/photo-1677858715341-85e9c319d064?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    animation: background-animation 10s linear infinite;
}

@keyframes background-animation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

/* Responsive Design */

@media (max-width: 768px) {
    nav ul {
        display: none;
    }

    button {
        display: block;
    }
}

@media (min-width: 768px) {
    button {
        display: none;
    }
}






