.section1 {
    background-color: white;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.section-rotate-image {
    z-index: -1;
    text-align: center;
    margin-bottom: 20px;

    h1 {
        color: #575757;
        font-size: 35px;
        font-weight: 400;
        margin-bottom: 10px;
        z-index: -1;
    }
}

#target {
    position: relative;
    top: 96px;
    /* 6rem * 16px */
    margin-top: -160px;
    /* -10rem * 16px */
    margin-bottom: 10px;
    min-height: 320px;
    /* 20rem * 16px */
}

.font-size-greater {
    font-size: 112px;
    /* 7rem * 16px */
    letter-spacing: .5px;
    color: #232ae5;
}

.section1-content {
    background-color: #fcfafa;
    width: 40%;
    position: relative;
    left: 800px;
    padding: 50px 20px;
    text-align: center;
    border: 1px solid #a3a2a2;
    border-radius: 5px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .font-size-greater {
        font-size: 96px;
        /* 6rem * 16px */
    }

    .section1-content {
        width: 50%;
    }
}

@media (max-width: 992px) {
    .font-size-greater {
        font-size: 80px;
        /* 5rem * 16px */
    }

    .section1-content {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .font-size-greater {
        font-size: 64px;
        /* 4rem * 16px */
    }

    .section1-content {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .font-size-greater {
        font-size: 48px;
        /* 3rem * 16px */
    }

    .section1-content {
        width: 90%;
    }

    #target {
        top: 48px;
        /* 3rem * 16px */
        margin-top: -80px;
        /* -5rem * 16px */
    }
}

@media (max-width: 400px) {
    .font-size-greater {
        font-size: 32px;
        /* 2rem * 16px */
    }

    .section1-content {
        width: 100%;
        padding: 10px;
    }

    #target {
        top: 32px;
        /* 2rem * 16px */
        margin-top: -48px;
        /* -3rem * 16px */
    }
}